.hero {
    width: 85%;
}

.hero-pic {
    position: absolute;
    right: 8%;
    top: 80px;
    z-index: 2;
}

.tagline {
    font-family: Poppins;
    color: rgb(223, 105, 81);
}

.hero-heading-box {
    width: 50%;
    align-self: center;
    position: relative;
}

.hero-decore {
    position: absolute;
    top: 150px;
    right: 0;
    z-index: -1;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    gap: 40px;
    margin-top: 40px;
}

.find-out-button {
    height: 60px;
    width: 30%;
    border: none;
    border-radius: 10px;
    background-color: rgb(261, 165, 1);
    color: white;
    font-family: Google Sans;
    font-size: medium;
    font-weight: 500;
    box-shadow: 1px 15px 25px rgb(255, 240, 196);
    cursor: pointer;
}

.demo-button-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.demo-button {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    border: none;
    background-color: rgb(223, 105, 81);
    box-shadow: 1px 15px 25px rgb(239, 208, 202);
    color: white;
    cursor: pointer;
}