.hero {
    position: relative;
    width: 85%;
    top: 150px;
    align-self: center;
    justify-self: center;
}

.hero-pic {
    position: absolute;
    right: 2%;
    top: -13%;
    z-index: 2;
}

.tagline {
    font-family: Poppins;
    color: rgb(223, 105, 81);
}

.hero-heading-box {
    width: 50%;
}

.hero-heading {
    font-size: 84px;
    color: rgb(24, 30, 75);
    font-family: Volkhov;
    line-height: 100%;
}

.hero-decore {
    position: absolute;
    top: 27%;
    left: 21%;
    z-index: -1;
}

.grey-paragraph {
    font-family: Poppins;
    font-size: medium;
    font-weight: 500;
    color: rgb(94, 98, 130);
    width: 70%;
    line-height: 26px;
}

.bigger-grey-paragraph {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    color: rgb(94, 98, 130);
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    gap: 40px;
    margin-top: 40px;
}

.find-out-button {
    height: 60px;
    width: 30%;
    border: none;
    border-radius: 10px;
    background-color: rgb(261, 165, 1);
    color: white;
    font-family: Google Sans;
    font-size: medium;
    font-weight: 500;
    box-shadow: 1px 15px 25px rgb(255, 240, 196);
    cursor: pointer;
}

.demo-button-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.demo-button {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    border: none;
    background-color: rgb(223, 105, 81);
    box-shadow: 1px 15px 25px rgb(239, 208, 202);
    color: white;
    cursor: pointer;
}